.root-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Ensure full viewport height */
}

.map-menu-container {
  width: 25%; /* Take 25% of the viewport width */
  height: 100vh; /* Ensure full viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative; /* Ensure z-index works */
  z-index: 1; /* Set a higher z-index to ensure it's on top */
  background-color: var(--navbar-dark-primary);
  padding: 10px;
  border-right: 1px solid #555; /* Add a border for separation */
}

.map-container {
  width: 75%; /* Take 75% of the viewport width */
  height: 100vh; /* Ensure full viewport height */
  overflow: hidden; /* Prevent map from overflowing */
  position: relative; /* Ensure z-index works */
  z-index: 0; /* Set a lower z-index to keep it behind the menu */
}

.map-menu-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  z-index: 2;
}
